$font-family: 'Poppins', sans-serif;

$primary: #5265E1;
$secondary: #FA5959;

.franja-der {
    position: relative;
}

.background-blue {
    background-color: $primary;
    width: 200rem;
    height: 50rem;
    border-radius: 20rem 0 0 20rem;
    max-height: 80%;
    max-width: 90%;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 20%;
}


@import "../node_modules/bootstrap/scss/bootstrap";